.navbar{
    background-image: url("../../img/index/image_pagina_principal.jpeg");
}



li {
    text-align: center;
    
  }
  


.nav-link{
   
    color:white;
    font-size: 25px;
    
}

.dropdown-menu{
    opacity: 0.5;
    
    color: white;


}
.dropdown-menu:hover{
    background-color: black;
    color: white;
    opacity: 0.4;

}

.dropdown-item:hover:not(.active) {
    background-color: black;
    color: white;
  }
